{# src/Blogger/BlogBundle/Resouces/views/Blog/show.html.twig #}
{% extends 'BloggerBlogBundle::base.html.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
    <article class="blog">
        <header>
            <div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time></div>
            <h2>{{ blog.title }}</h2>
        </header>
        <img src="{{ asset(['uploads/documents/', blog.image.id,'.jpeg']|join) }}" alt="{{ blog.title }} image not found" class="large" />
        <div>
            <p>{{ blog.blog }}</p>
        </div>
    </article>
        {# a침ado bot칩n editar #}
           <div class="continue">
                    <a href="{{ path('BloggerBlogBundle_edit_post', { 'blog_id' : blog.id }) }}">Editar</a>   {# pasar id del blog para mostrar formulario del blog relleno con ese post #} 
            </div>
        {# a침ado bot칩n editar #}
            <section class="comments" id="comments">
        <section class="previous-comments">
            <h3>Comments</h3>
            {% include 'BloggerBlogBundle:Comment:index.html.twig' with { 'comments': comments } %}
        </section>
        
            <h3>Add Comment</h3>
        {{ render(controller( 'BloggerBlogBundle:Comment:new', { 'blog_id': blog.id } )) }}
            </section>
{% endblock %}